<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="./assets/logo.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form [formGroup]="loginform" (ngSubmit)="onLogin(loginform.value)">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" formControlName="email">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div class="alert alert-danger" *ngIf="errorS">
            <p>{{errorMsg}}</p>
        </div>

    </div>
</div>